* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif
}

.container {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.btn_collapse {
    width: 100px;
    height: 50px;
    background-color: #0c7fe4;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
}

.btn_collapse:hover {
    background-color: rgb(0, 77, 210);
    box-shadow: 0 0 5px rgb(3, 64, 170);
}

.collapse_container {
    overflow: hidden;
    margin-top: 15px;
    opacity: 0;
    max-height: 0px; 
    transition: opacity 0.25s 0.25s, max-height 0.5s steps(5, end); 
}

.show {
    opacity: 1;
    max-height: 30vh;
    margin-top: 15px;
    transition: opacity 0.25s 0.25s, max-height 0.5s steps(5, end);
}

.collapse_text {
    padding: 15px;
    border: 1px solid rgb(189, 188, 188);
    font-size: 16px;
}